* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root {
    --color-primary:#023e8a;
}
html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar {
    display: none;
}

